.listaMascotas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    justify-content: center; /* Centrar los elementos */
}

/* Estilo para las imágenes dentro de las tarjetas */
.img-card {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 250px;
    object-fit: cover; /* Se ajusta sin perder proporciones */
    border-radius: 8px; /* Bordes más suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease-in-out;
}

.img-card:hover {
    transform: scale(1.05); /* Efecto sutil al pasar el mouse */
}
