/* Estilo general del contenedor con fondo, padding, bordes redondeados y sombra */
.container {
  background-color: rgb(140, 179, 140); /* Color de fondo verde */
  padding: 2rem; /* Espaciado interior */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgb(179, 177, 177); /* Sombra suave */
  width: 320px; /* Ancho fijo */
  text-align: center; /* Centra el contenido dentro del contenedor */
}

/* Estilo para el título principal de login */
.h1-login {
  font-size: 1.5rem; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: black; /* Color negro */
  margin-bottom: 1rem; /* Espacio debajo del título */
  text-align: center; /* Centra el texto */
}

/* Estilo para el formulario de login */
.formulario-login {
  display: flex; /* Utiliza Flexbox para organizar los elementos */
  flex-direction: column; /* Coloca los elementos en columna */
  width: 50%; /* Ancho del formulario */
  justify-content: center; /* Centra el contenido dentro del formulario */
  margin: 0 auto; /* Centra el formulario en la página */
  border-radius: 20px; /* Bordes redondeados */
}

/* Estilo para el botón de login */
.button-login {
  background-color: rgb(106, 137, 60); /* Color de fondo verde */
  color: white; /* Texto blanco */
  font-weight: bold; /* Texto en negrita */
  padding: 0.5rem; /* Espaciado interior */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes ligeramente redondeados */
  cursor: pointer; /* Muestra un puntero al pasar el ratón */
  transition: 0.3s; /* Transición suave para cambios */
  margin-top: 10px; /* Espacio superior */
}

/* Estilo cuando el ratón pasa sobre el botón */
.button-login:hover {
  background-color: rgb(86, 136, 86); /* Color de fondo más oscuro */
}
