/* Estilos para el header */
.header {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Texto blanco */
    padding: 10px 0; /* Espaciado superior e inferior */
    text-align: center; /* Centra el texto */
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333; /* Color de fondo oscuro */
    display: flex; /* Utiliza Flexbox para el layout */
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Estilos para los elementos de navegación */
.navItem {
    color: white; /* Color del texto blanco */
    padding: 14px 20px; /* Espaciado alrededor del texto */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: block; /* Los elementos ocupan todo el espacio disponible */
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative; /* Necesario para posicionar los elementos dentro del dropdown */
}

/* Estilos para el botón del menú desplegable */
.dropbtn {
    font-size: 16px; /* Tamaño de la fuente */
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el contorno al hacer clic */
    color: white; /* Color del texto blanco */
    padding: 14px 20px; /* Espaciado dentro del botón */
    background-color: #333; /* Color de fondo oscuro */
    cursor: pointer; /* Cambia el cursor a mano para indicar que es clickeable */
}

/* Estilos para el contenido del menú desplegable */
.dropdownContent {
    position: absolute; /* Posiciona el contenido de forma absoluta respecto al contenedor padre */
    background-color: #333; /* Color de fondo oscuro */
    min-width: 160px; /* Ancho mínimo del menú */
    z-index: 1; /* Asegura que el menú se muestre sobre otros elementos */
}

/* Estilos para los elementos dentro del menú desplegable */
.dropdownItem {
    color: white; /* Color del texto blanco */
    padding: 12px 16px; /* Espaciado alrededor de cada elemento */
    text-decoration: none; /* Elimina el subrayado */
    display: block; /* Hace que cada elemento ocupe el espacio completo */
}

/* Estilos para el hover en los elementos del menú desplegable */
.dropdownItem:hover {
    background-color: #ddd; /* Color de fondo al pasar el ratón */
    color: black; /* Cambia el color del texto a negro */
}

