/* Estilos para el contenedor principal */
.container {
  background-color: rgb(140, 179, 140); /* Color de fondo verde suave */
  padding: 2rem; /* Espaciado interior */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgb(179, 177, 177); /* Sombra suave */
  width: 320px; /* Ancho del contenedor */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* Estilos para el encabezado */
.h1 {
  font-size: 1.5rem; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: black; /* Color del texto */
  margin-bottom: 1rem; /* Espaciado debajo del encabezado */
  text-align: center; /* Centra el texto */
}

/* Estilos para el formulario de registro */
.formulario-registro {
  display: flex; /* Usando Flexbox */
  flex-direction: column; /* Los elementos se apilan en una columna */
  width: 50%; /* Ancho del formulario */
  justify-content: center; /* Centra los elementos verticalmente */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para el contenedor de los checkboxes */
.cont-checks {
  display: flex; /* Usando Flexbox */
  flex-direction: row; /* Los checkboxes están en fila */
  gap: 20px; /* Espaciado entre los checkboxes */
}

/* Estilos para los checkboxes */
.cont-checks input {
  right: 35%; /* Posiciona los checkboxes hacia la derecha */
  bottom: 2.5vh; /* Ajuste vertical */
}

/* Estilos para los inputs y selects */
.input, .select {
  padding: 0.5rem; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  outline: none; /* Elimina el contorno */
  border: none; /* Sin borde */
  background: #ccc; /* Fondo gris */
  transition: 0.3s; /* Transición suave */
  margin-bottom: 10px; /* Espaciado debajo del input/select */
}

/* Estilos para el contenedor de la opción "alquilada" */
.cont-alquilada {
  position: relative; /* Posición relativa para el contenedor */
  left: 60%; /* Mueve el contenedor a la derecha */
}

/* Estilos para el contenedor de la opción "propia" */
.cont-propia {
  position: relative; /* Posición relativa para el contenedor */
  left: 10%; /* Mueve el contenedor a la izquierda */
}

/* Estilos para el botón */
.button {
  background-color: rgb(106, 137, 60); /* Color de fondo verde */
  color: white; /* Texto blanco */
  font-weight: bold; /* Negrita */
  padding: 0.5rem; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al hacer hover */
  transition: 0.3s; /* Transición suave */
  margin-top: 10px; /* Espaciado superior */
}

/* Estilos para el hover en el botón */
.button:hover {
  background-color: rgb(86, 136, 86); /* Cambio de color de fondo al hacer hover */
}
